<p id="notice"><%= notice %></p>

<h1>パートナー登録</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br> 
<%= link_to 'パートナーコード発行', new_partner_path %><br> 
<br> 
<%= link_to '紹介コード認証', new_request_path %><br> 
<br> 
<%= link_to '承認確認', requests_path(@user, @partner, @request) %><br> 
<br> 
<%= link_to 'メイン画面', mains_path %> 