<p id="notice"><%= notice %></p>

<h1>partners</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.email %></td>
        <td><%= partner.certification_code %></td>
        <td><%= link_to 'Show', partner %></td>
        <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
        <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'index', partners_path(@partner) %> 
<%= link_to 'New partner', new_partner_path %>
<%= link_to 'Request partner', new_request_path %>
<%= link_to 'ç¢ºèª', requests_path(@user, @partner, @request) %> 
