<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @partner.email %>
</p>

<p>
  <strong>certification_code:</strong>
  <%= @partner.certification_code %>
</p>

<p>
  <strong>日時:</strong>
  <%= @partner.created_at %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
